// Viewports

$narrow-mobile-width-only: 359px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Colors

$color: #121319;
$additional-color: #60779b;
$background-color: #edf1f5;
$background-color-secondary: #1a2940;
$form-background-color: #283d5e;
$color-secondary: #ffffff;
$link-color: #5282cb;
$link-additional-color: #6ba3f6;
$card-background-color: #233652;
$low-color: #5a6c88;
$color-true: #a9c659;
$color-false: #e9496f;
$mobile-detail-color: #ced6de;
$shadow-color: #c0c7cf;

// Values

$corner-radius: 4px;
$trans-duration: 100ms;
