.container {
  padding: 0 16px;

  @media (min-width: $tablet-width) {
    padding: 0 32px;
  }

  @media (min-width: $desktop-width) {
    width: 1312px;
    padding: 0 50px;
    margin: 0 auto;
  }
}
