.footer {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $additional-color;

  @media (min-width: $tablet-width) {
    width: 240px;
    font-size: 12px;
    line-height: 18px;
  }
}

.footer__text {
  margin: 0 0 6px;

  &:last-child {
    margin-bottom: 0;
  }
}
