.header {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-column-gap: 31px;
  column-gap: 31px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    column-gap: 3%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 40% 1fr;
    grid-column-gap: 115px;
    column-gap: 115px;
  }
}

.header__title {
  margin: 0 0 11px;
}

.header__title-wrapper .header__title {
  margin: 0 0 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }
}

.header__subtitle {
  margin: 0 0 4px;
  color: $additional-color;
}

.header__text {
  width: 93%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $additional-color;

  @media (min-width: $tablet-width) {
    width: 83%;
    max-width: 285px;
    font-size: 12px;
    line-height: 18px;
  }
}
