.page {
  overflow-x: hidden;
}

.page__body {
  position: relative;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  color: $color;
  background-color: $background-color;
}

.page__body--no-scroll {
  position: fixed;
  right: 0;
  left: 0;

  @media (min-width: $desktop-width) {
    overflow-y: scroll;
  }
}

.page__preloader {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page__section-wrapper {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 54px;
    grid-template-columns: 1fr 48.3%;
    grid-column-gap: 23px;
    column-gap: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
    grid-template-columns: 1fr 51.2%;
    grid-column-gap: 80px;
    column-gap: 80px;
  }
}

.page__user-info-section {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.page__addresses-section {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.page__torrent-section {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page__data-section {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 88px;
  }
}

.page__faq-section {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.page__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: var(--app-height);
}
